.navbar {
  height: 60px;
  background-color: orange;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 0px 30px;
  box-sizing: border-box;
  position: fixed;

  .homelink {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;

    .item {
      text-decoration: none;
      font-size: medium;
      color: white;
    }
  }
}
